# 1. Базовая установка (Docker + K8s soft)
- name: Install Docker on all servers
  hosts: all
  become: yes
  roles:
    - role: ../roles/docker

- name: Prepare Kubernetes Nodes (Soft)
  hosts: master, workers
  become: yes
  roles:
    - role: ../roles/k8s_base

# 2. Инициализация Мастера
- name: Initialize Kubernetes Master
  hosts: master
  become: yes
  roles:
    - role: ../roles/k8s_master

# 3. Подключение Воркеров
- name: Join Worker Nodes
  hosts: workers
  become: yes
  roles:
    - role: ../roles/k8s_node

# 4. Настройка сервера инструментов (SRV)
- name: Setup SRV (GitLab Runner)
  hosts: srv
  become: yes
  roles:
    - role: ../roles/gitlab-runner